.right {
    display: grid;
    grid-template-columns: 11fr 1fr;
    h2 {
    padding: 10px;
    text-align: center;
    background-color: rgb(42, 33, 177);
}
button {
    background-color: black;
    color: white;
    color:blue;
}
}
